@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    background: #000; 
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.724);
}

main {
    min-height: 100dvh;
    background: url("./images/vecteezy_ai-generated-generative-ai-abstract-pastel-pink-blue-purple_35662025.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    color: #f5f5f5eb;
    text-decoration: none;
}

.profile-card {
    width: 90%;
    max-width: 350px;
    height: auto;
    margin: 20px;
    height: 500px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.16)  ;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform-style: preserve-3d;
    animation: float 4s ease-in-out infinite;
    color: #f5f5f5eb;

}

.profile-card:hover {
  transform: translateY(-15px) rotateX(10deg) rotateY(-10deg);
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

figure {
    width: 80px;
    height: 80px;
}

figure img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover; 
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-links nav ul li {
    display: flex;
    border-radius: 50%;
    padding: 8px;
    transition: transform 0.7s ease-in;
}

.social-links nav ul li:hover {
    background: rgba(255, 255, 255, 0.16)  ;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
 
    transform: scale(0.7);
}

.fa-brands {
    font-size: 24px;
}

.hobbies-dislikes {
    display: flex;
    justify-content: space-between;
}

.current-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 450px){
    .hobbies-dislikes{
        flex-wrap: wrap;
    }

    .profile-card {
        text-align: center;
    }

    figure {
        margin: 0 auto;
    }

}